Найти:
<input ng-model="myQuery" ><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="weight">Весу+</option>
    <option value="-weight">Весу-</option>
    <option value="height">Росту</option>
    <option value="name">Имени</option>
</select>

Фильтровать по:
<select ng-model="myFilterProperty">
    <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
</select>

<ul>
    <li ng-repeat="pokemon in pokemons | filter: myQuery | filter: myFilterProperty | orderBy: myOrderProperty">
        <img src="{{pokemon.ThumbnailImage}}" ng-click="alert(pokemon.name)">

        <small>ID #{{pokemon.id }}</small>
        <h1 ng-class="{'red': pokemon.type.includes('fire'), 'blue': pokemon.type.includes('water'), 'green': pokemon.type.includes('grass')}">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>